$admin-bar-breakpoint-sm: 46px;
$admin-bar-breakpoint-lg: 32px;

@mixin admin-bar-padding($type: top) {
	body.admin-bar & {
		@if $type=top {
			top: $admin-bar-breakpoint-sm;

			@media (min-width: 783px) {
				top: $admin-bar-breakpoint-lg;
			}
		}
		@elseif $type=margin {
			margin: $admin-bar-breakpoint-sm;

			@media (min-height: 783px) {
				margin: $admin-bar-breakpoint-lg;
			}
		}
		@content;
		
	}	
}

