@mixin object-fit($width:100%, $height:100%, $position: center center) {
	&:not(html):not(body) {
		object-fit: cover;
		object-position: $position;
		width:$width;
		height:$height;
	}
	&:is(picture) > img {
		object-fit: cover;
		object-position: $position;
		width:$width;
		height:$height;
	}
}

.object-fit {
	@include object-fit();
}