//Uses the Sass-Map defined in partials/variables.scss
@mixin z-index($level: ground, $important: 'null') {
	@if ($important == 'important')
	{
		z-index: map-get($z-index, $level) !important;
	}
	@else {
		z-index: map-get($z-index, $level);
	}
}