@mixin block($width: map-get($global-config, block--width), $gutters: false, $position: relative) {
	position: $position;
	width: 100%;
	max-width: $width;
	margin: 0 auto;
	@if ($gutters == true) {
		@include gutters();
	}
}