@mixin container($width: map-get($global-config, width), $flex: true, $padding: true, $margin: true, $flex-direction: row) {
	position: relative;
	width: 100%;
	max-width: $width;
	@if ($flex == true) {
		display: flex;
		flex-direction: $flex-direction;
	}
	@if ($margin == true) {
		margin: 0 auto;
	}
	@if ($padding == true) {
		@include gutters(15px);
	}
	@if ($flex == false) {
		@include clearfix();
	}

	//This is for the Chrome 12-column grid extension.
	#bootstrap-grid-frame-jhbsdovu & {
		display: block;
	}
}