
@function gutters($gutters: map-get($global-config, gutters)) {
	@return $gutters;
}

@mixin gutters($gutters: map-get($global-config, gutters)) {
	padding-left: gutters($gutters);
	padding-right: gutters($gutters);
}