@function span($columns: map-get($global-config, columns), $container: map-get($global-config, columns)) {
	@return percentage($columns / $container);
}

@mixin span($columns: map-get($global-config, columns), $container: map-get($global-config, columns), $flex: true, $gutters: true) {
	width: span($columns, $container);
	@if ($flex == false) {
		float: left;
	}
	@if ($gutters == true) {
		@include gutters();
	}
}